body{
	background-image: url('../assets/icons/tile2.png');
	color: #34495e;
}

// TEXT ALIGN

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.bg-white{
	background-color: white;
}
.bg-black{
	background-color: black;
}
.line-height{
  line-height: 1.2em;
}

.txt-red{
	color: #e74c3c;
}
.padding-bottom-2{
	padding-bottom:2%;
}
.padding-bottom-3{
	padding-bottom:3%;
}
.padding-right-2{
	padding-right: 2% !important;
}
.padding-left-1{
	padding-left: 1% !important;
}
.padding-3{
	padding: 3% 0;
}
.padding-4{
	padding: 4% 0;
}
.padding-6{
	padding: 6% 0;
}
.padding-2-4{
	padding: 2% 4%;
}
.padding-2{
	padding: 2%;
}
.margin-top-2{
	margin-top: 2.5%
}
.fs-9{
	font-size: 9px !important;	
}
.fs-11{
	font-size: 1.1em !important;	
}
.fs-12{
	font-size: 12px !important;	
}
.fs-13{
	font-size: 13px !important;	
}
.fs-14{
	font-size: 14px !important;	
}
.fs-15{
	font-size: 15px !important;
}
.fs-16{
	font-size: 16px !important;
}
.fs-18{
	font-size: 18px !important;
}
.fs-20{
	font-size: 20px;
}
.fs-23{
	font-size: 23px !important;
}
.fs-30{
	font-size: 30px;
}

.width-50{
	width: 50%;
}
.width-40{
	width: 40%;
}
.width-60{
	width: 60%;	
}
.width-100{
	width: 100%;
}

.border-right{
	border-right: 1px solid #bdc3c7;	
}

.weight-300{
	font-weight: 300;
}

.height-38{
	height: 38px !important;
}
.height-165{
	height: 165px !important;
}
.height-100{
	height: 100px !important;
}
.font-slabo{
	font-family: 'Slabo 27px', serif !important;
}
.decoration-none{
	text-decoration: none;
	color:#2c3e50;
	padding: 1%;
}
.col-md-6, .col-md-3, .col-md-9{
	padding: 0;
}
//////////////////////////////////