header{
	font-family: 'Oswald', sans-serif;
	position: fixed;
  width: 100%;
  z-index: 10;
	background-image: url('../assets/icons/tile2.png');  
	.row{
		margin: 0;
	}
	#nav-uno-top{
		border: none;
		border-bottom: 1px solid #bdc3c7 !important;
		nav{
			margin: 0;	
			border: none;	
		}
		img{
			width: 90%;
  		margin-top: 10%;
		}
		.navbar-inverse{
			background-color: white;
			border-color: #34495e;
			border-radius:0;
		}
		.universidad-titulo{
		  font-size: 19px;
		  margin-top: 9%;
		  margin-left: 10px;
		}
		.link-nav-uno{
		  margin: 2% 0 1%;
		  font-size: 15px;
		}
	}
	#nav-dos-top{
		margin-left: 95px;
  	margin-right: 15px;
  	border-bottom: 1px solid #7f8c8d;
		nav{
			margin: 0;
			background-color: transparent;
			border: none;	
		}
		.nombre-usuario{
			margin-top: 15%;
  		font-size: 30px;
		}
		.icono-nav-uno{
			margin-top: 5%;
		}
	}
}

.icono-size{
	font-size: 33px;
  margin-bottom: 5px;	
}
.subtitulo-icono{
	font-size: 11px;
}

aside{
	position: fixed;
	font-family: 'Oswald', sans-serif;
	width: 80px;
	top: 8.4%;
	border: none;
	z-index: 10;
	.nav-vertical{
		.icono-nav-uno{
			padding: 41% 0;
			border-bottom: 1px solid #bdc3c7;
		}
	}
	.icono-nav-uno:hover{
		color: red;
	}
}

section{
	margin-left: 95px;
  margin-right: 15px;
  padding-top: 18%;
	.row{
		margin: 0;
		padding: 0;	
	}
}

.list-group{
	margin-bottom: 5px;
	.inicio-tabla{
		height: 30px !important;
	}
	.list-group-item{
		padding: 1.6% 0;
		height: 40px;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		.lista-columnas{
			list-style: none outside none;
			padding: 0;
			font-weight: 300 !important;
			li{
				float: left;
				display: block;
			}
			// LISTA DE HORARIO
			.lista-uno{
				width: 16%;
				border-right: 1px solid #bdc3c7;	
			}
			.lista-dos{
				width: 16%;		
				border-right: 1px solid #bdc3c7;				
			}
			.lista-tres{
				width: 47%;
				padding: 0 3%;
				p{
					font-size: 1.1em;
					line-height: 1em;
				}					
			}
			.lista-cuatro{
				width: 21%;	
				border-left: 1px solid #bdc3c7;					
			}
			// LISTA DE CURSO
			.lista-uno-curso{
				width: 50%;
				border-right: 1px solid #bdc3c7;	
				p{
					padding: 0 3%;
				  margin: 0;
				  line-height: 1em;
				}	
			}
			.lista-dos-curso{
				width: 25%;		
				border-right: 1px solid #bdc3c7;				
			}
			.lista-tres-curso{
				width: 25%;
				padding: 0 3%;					
			}								
		}
		.titulo-tabla{
			background-color: black !important;
			color: white;
			font-family: 'Oswald', sans-serif;
			text-align: center;
			font-size: 12px;
		}
		.contenido-tabla{
			font-size: 12px;
			font-weight: bold;
			p{
				font-size: 10px;
				margin: 0;	
			}				
		}
	}
}

.link{
	display: inline-block;
}

.pie-pagina{
	margin: 3% auto;
}

.notificacion{
	position: absolute;
  z-index: 1;
  left: 26px;
  color: white;
  margin: 1%;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle, .btn-default {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}

.menu-item {
	position: relative !important;
	.sub-menu {
		width: 0;
		padding: 0;
		list-style: none;
		background-color: white;
		position: absolute !important;
  	top: 1px;
  	left: 83px;
		transition: all 0.2s ease-in-out;
		overflow: hidden;
		li {
			width: 200px;
		}
	}
	&.open {
		.sub-menu {
			width: 200px;
			transition: all 0.2s ease-in-out;
		}
	}
}

.absolute{
	position: absolute;
}